.main-nav {
    background: rgba(33, 33, 33, 0.5);
    box-shadow: 0px 4px 12px rgba(24, 9, 96, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
    @include flex-builder(row, space-between, center);

    @include media-l {
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @include media-s {
        display: none;
    }

    &__logo-block {
        @include flex-builder(row, none, center);
        text-decoration: none;
        color: $white;

        @include media-l {
            width: 100%;
            justify-content: center;
            margin-top: 10px;
        }

        &:hover {
            color: $light-blue;
        }

        &:hover .main-nav__logo {
            fill: $light-blue;
        }
    }

    &__logo {
        fill: $white;
        transition: all .01s ease-in-out;
    }

    &__logo-text {
        font-family: "Noto Sans", sans-serif;
        font-size: 22px;
        margin-left: 6.5px;
        transition: all .1s ease-in-out;
    }

    &__links-block {
        width: 696px;
        @include flex-builder(row, space-between, center);
        position: relative;
    }

    &__link {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: $white;
        text-decoration: none;
        transition: all .1s ease-in-out;
        text-transform: uppercase;

        &:hover {
            color: $light-blue;
        }

        &_mb {
         margin-bottom: 15px;
         transition: all .05s ease-in-out;
        }

        &_dropcontent {
            height: 80px;
            @include flex-center-center;
        }
    }

    &__icon {
        font-size: 12px;
        margin-left: 5px;
    }

    &__button_white-blue {
        background: transparent;
        border-color: $white;
        transition: all .1s ease-in-out;

        @include media-m {
            display: none;
        }

        &:hover {
            background: $white;
            border-color: $light-blue;
            color: $light-blue;
        }
    }

    &__dropdown-content {
        position: absolute;
        top: 80px;
        opacity: 0;
        pointer-events: none;
        background: rgba(33, 33, 33, 0.8);
        box-shadow: 2px 4px 16px rgba(158, 158, 158, 0.3);
        border-radius: 0 0 16px 16px;
        border-top: 3px solid $light-blue;
        padding: 16px 12px 0 12px;
        display: flex;
        flex-direction: column;
        transition: opacity .2s ease-in-out;

        &:hover {
            opacity: 1;
            pointer-events: visible;
        }
    }
}

#content-services {
    left:0;
}

#services-nav:hover ~ #content-services {
    opacity: 1;
    pointer-events: visible;
}

#content-technologies {
    left: 119px;
}

#technologies-nav:hover ~ #content-technologies {
    opacity: 1;
    pointer-events: visible;
}

#content-about {
    right: -50px;
    width: 156px;
}

#about-nav:hover ~ #content-about {
    opacity: 1;
    pointer-events: visible;
}

// mobile nav properties

.mobile-nav {
    &__visible {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background: rgba(33, 33, 33, 0.5);
        box-shadow: 0px 4px 12px rgba(24, 9, 96, 0.1);
        width: 100%;
        height: 80px;
        display: none;
        padding-left: 20px;

        @include media-s {
            @include flex-builder(row, space-between, center);
        }
    }

    &__logo-block {
        @include flex-builder(row, none, center);
        text-decoration: none;
        color: $white;

        &:hover {
            color: $light-blue;
        }

        &:hover .mobile-nav__logo {
            fill: $light-blue;
        }
    }

    &__logo {
        fill: $white;
        transition: all .01s ease-in-out;
    } 

    &__logo-text {
        font-family: "Noto Sans", sans-serif;
        font-size: 22px;
        margin-left: 6.5px;
        transition: all .1s ease-in-out;
    }

    &__hidden {
        width: 70%;
        height: 100%;
        position: fixed;
        left: 0;
        transform: translateX(-110%);
        top: 80px;
        background: $white;
        z-index: 10;
        box-shadow: 11px 0px 17px 0px rgba(0, 0, 0, 0.2);
        padding: 10px 30px 0 30px;
        transition: all .5s ease-in-out;
    }

    &__link {
        font-family: "Montserrat", sans-serif;
        color: $light-blue;
        text-decoration: none;
        font-size: 26px;
        margin-left: 10px;
        margin-bottom: 4px;

        @include media-xs {
            font-size: 16px;
        }

        &:hover {
            color: $green;
        }

        &_bold {
            font-weight: bold;
            font-size: 30px;
            margin-left: 0;
            margin-top: 10px;
            margin-bottom: 10px;

            @include media-xs {
                font-size: 20px;
                margin-top: 6px;
                margin-bottom: 6px;
            }
        }
    }

    &__links-block {
        @include flex-builder(column, none, none);
    }
}

.mobile-nav-unhide {
    transform: translateX(0%);
}

// burger properties

.burger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.burger_line {
    fill: none;
    stroke: $white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger_line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.burger_line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
  
.burger_line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
  
.burger_opened .burger_line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.burger_opened .burger_line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.burger_opened .burger_line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

// js properties

.blue-color {
    color: $light-blue;
}

// svg js properties

.svg-elem {
    transition: all .2s ease-in-out;
}

//// blue color

.blue-1 {
    fill: rgb(0, 164, 232);
}

.blue-2 {
    fill: rgb(10, 109, 183);
}

.blue-3 {
    fill: rgb(25, 68, 132);
}

//// green color

.green-1 {
    fill: rgb(163, 191, 42);
}

.green-2 {
    fill: rgb(32, 151, 64);
}

.green-3 {
    fill: rgb(18, 123, 53);
}

//// orange color 

.orange-1 {
    fill: rgb(236, 191, 0);
}

.orange-2 {
    fill: rgb(215, 131, 0);
}

.orange-3 {
    fill: rgb(205, 90, 0);
}

//// purple color 

.purple-1 {
    fill: rgb(195, 0, 128)
}

.purple-2 {
    fill: rgb(163, 0, 128);
}

.purple-3 {
    fill: rgb(119, 10, 129);
}

//// red color

.red-1 {
    fill: rgb(196, 0, 5);
}

.red-2 {
    fill: rgb(109, 0, 0);
}

.red-3 {
    fill: rgb(146, 0, 17);
}