// libs 

@import "../../../libs/scss/swiper-bundle.min";
@import "../../../libs/scss/animate";
@import "../../../libs/scss/mixins";
@import "../../../libs/scss/colors";
@import "../../../libs/scss/fonts";
@import "../../../libs/scss/normalize";

// components

@import "../../../common-blocks/text/text";
@import "../../../common-blocks/other-components/other-components";

// properties for all elements

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// blocks

@import "blocks/header";
@import "blocks/technologies";
@import "blocks/services";
@import "blocks/achievements";
@import "blocks/partners";

// common blocks

@import "../../../common-blocks/clutch-rating/clutch-rating";
@import "../../../common-blocks/offer/offer";
@import "../../../common-blocks/contact-us/contact-us";
@import "../../../common-blocks/footer/footer";
@import "../../../common-blocks/social-links-nav/social-links-nav";
@import "../../../common-blocks/main-nav/main-nav";