.achievements-wrapper {
    &__article {
        margin-top: 81px;
        margin-bottom: 131px;
        @include flex-column-center-center;
    }

    &__title-blue {
        margin-bottom: 100px;
    }

    &__content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0 25px;

        @include media-l {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 25px;
        }

        @include media-s {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
        }
    }

    &__card {
        height: 400px;
        border-radius: 16px;
        box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
        padding: 290px 20px 0 20px;
        transition: all .1s ease-in-out;

        @include media-l {
            width: 322px;
        }

        @include media-s {
            justify-self: center;
        }

        &:hover {
            transform: scale(1.07);
        }

        &_1 {
            background: url("../../../svg/home-index/achievements_1.svg") center center no-repeat,
                rgba(39, 110, 216, 0.05);

            @include media-l {
                justify-self: flex-end;
            }

            @include media-s {
                justify-self: center;
            }
        }

        &_2 {
            background: url("../../../svg/home-index/achievements_2.svg") center center no-repeat,
                rgba(39, 110, 216, 0.05);
        }

        &_3 {
            background: url("../../../svg/home-index/achievements_3.svg") center 20% no-repeat,
                rgba(39, 110, 216, 0.05);

            @include media-l {
                justify-self: flex-end;
            }

            @include media-s {
                justify-self: center;
            }
        }

        &_4 {
            background: url("../../../svg/home-index/achievements_4.svg") center 20% no-repeat,
                rgba(39, 110, 216, 0.05);
        }
    }

    &__text_black {
        text-align: center;
    }
}